@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 55px;
}

.daemon-list {
    tr td.name, 
    tr td.id, 
    tr td.online {
        color: red;
    }
    tr.is-online td.id, 
    tr.is-online td.name, 
    tr.is-online td.online {
        color: green;
    }
}

#view-state {

    .service-container { margin-bottom: 20px; }
    .service { }
    .device { margin-left: 10px; }
    .key { margin-left: 20px; }
    .data { margin-left: 30px; }
	.data-values { margin-left: 10px; }

	.service-suffix,
	.device-suffix {
		color: #777;
	}

	.service-name {
		color: blue;
		font-size: 16px;
		font-weight: bold;
	}
	.device-name {
		color: green;
		font-size: 14px;
		font-weight: bold;
	}

}

#view-devices {

    .group-by {
        width: 200px;
        float: right;
        margin-right: 10px;
    }

    .devices-container {
        @include clearfix();
        background: #eee;
        padding: 10px;
    }

    .device {

        background: white;

        border: 1px solid #ccc;
        width: 200px;
        height: 80px;
        float: left;
        margin: 10px;
        padding: 5px;

        .icon {
            float: left;
            img {
                max-width: 40px;
                max-height: 40px;
            }
        }
        .data {
            float: right;
            .value {
                font-size: 20px;
                text-align: right;
            }
            .name {
                text-align: right;
            }
        }
        .footer {
            clear: both;
            padding-top: 10px;
            font-size: 11px;
            color: #777;
            .location {
                float: right;
            }
            .type {
                float: left;
            } 
        }
        .end {
            clear: both;
        }
    }

    .device-generic {

        .icon {
            color: #aaa;
        }
        
    }

}
